* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 36px;
    font-family: monospace;
    color: antiquewhite;
}

section {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: #312e2b;
    flex-direction: column;
}

h1 {
    margin: 30px 0 30px;
}

table,
tr,
td {
    border: 1px solid rgb(255, 255, 255);
    /* border: none; */
    position: relative;
    margin: 0px;
    overflow: hidden;
}

td {
    width: 65px;
    height: 65px;
    text-align: center;
    position: relative;
    justify-content: center;
    align-content: center;
}

td:hover {
    cursor: crosshair;
    background-color: rgba(111, 187, 187, 0.9) !important;
}

tr:nth-child(odd) td:nth-child(odd) {
    background-color: #875729;
}

tr:nth-child(odd) td:nth-child(even) {
    background-color: #e5c1a4;
}

tr:nth-child(even) td:nth-child(even) {
    background-color: #875729;
}

tr:nth-child(even) td:nth-child(odd) {
    background-color: #e5c1a4;
}

.selected {
    background-color: rgba(0, 139, 139, 0.789) !important;
    cursor: pointer !important;
}

#board {
    border-spacing: 1px;
    margin-bottom: 50px;
    border: 20px solid brown;
    border-radius: 16px;
    background-color: white;
    position: relative;
}

.piece {
    background-color: #331e0b;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    max-width: 50px;
    max-height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    box-shadow: -2px -2px 7px #dd878773, 3px 3px 5px black;
}

.piece::after {
    content: '';
    position: absolute;
    height: 65%;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: inset -2px -2px 7px #dd878773, inset 2px 2px 5px black;
}

.queen::before {
    content: '';
    position: absolute;
    height: 40%;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 166, 0);
    clip-path: polygon(50% 0%, 66% 60%, 100% 35%, 100% 54%, 100% 90%, 54% 90%, 0 90%, 0 61%, 0 35%, 33% 60%);
}

.black {
    background-color: #331e0b;
}

.red {
    background-color: rgb(198, 17, 17);
}

.step {
    background-color: #b6d772 !important;
}


.container {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
}

#turn-switch {
    box-shadow: -2px -2px 7px #dd878773, 3px 3px 5px black;
    display: none;
    width: 65px;
    height: 130px;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translate(100%, -50%);
}

.inner-turn-switch {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#red-turn {
    position: relative;
    transform: none;
    left: auto;
    top: auto;
}

#black-turn {
    position: relative;
    transform: none;
    left: auto;
    top: auto;
}

.turn {
    box-shadow: 0px 0px 12px 1px white;
}

#btns-area {
    display: none;
    position: absolute;
    transform: translate(100%, 10%);
    top: 0;
    right: -15px;
    flex-direction: column;
}

.btn {
    box-shadow: -2px -2px 7px #dd878773, 3px 3px 5px black;
    min-width: 65px;
    min-height: 65px;
    cursor: pointer;
    position: relative;
    margin: 10px 0;
    width: 100%;
    height: fit-content;
    padding: 25px 10px;
    font-size: 18px;
}

.btn:hover {
    transform: translate(0%, -6px);
    transition: all 1s;
}

.btn::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
}

.disabled {
    cursor: not-allowed;
}

#unDoBtn::after {
    content: 'undo';
}

#restartBtn::after {
    content: 'new';
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #312e2b;
    border-radius: 10px;
    padding: 30px 15px;
    box-shadow: 0 0 5px 2px black;
    text-align: center;
    padding: 30px 50px;
}